$colorFont: #262626;
$colorPrimary: #007bff;
$colorSecondary: #6c757d;
$colorSuccess: #28a745;
$colorDanger: #dc3545;
$colorWarning: #ffc107;
$colorInfo: #17a2b8;
$colorLight: #f8f9fa;
$colorDark: #343a40;

$theme-colors: (
        primary: $colorPrimary,
        secondary: $colorSecondary,
        success: $colorSuccess,
        danger: $colorDanger,
        warning: $colorWarning,
        info: $colorInfo,
        light: $colorLight,
        dark: $colorDark,
);

$grid-breakpoints: (
        xs: 0,
        smm: 375px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

$rem-baseline: 16px;
